@media(min-width:1440px){
    body{
        font-family: Helvetica, sans-serif;
        font-style: normal;
    }
    .header--background{
        background: linear-gradient(to bottom,  #FFF4D4 0%, white 100%);
        border-radius: 0px 0px 0px 130px;
        height: 100%;
    }
    .header__navbar--logo{
        margin-left: 35px;
        margin-top: 20px;
    }
    .header__nav--text{
        color: #B3ACA2;
        font-weight: bold;
    }
    .header__nav--text-2{
        font-weight: bold;
        border: solid 1px red;
        margin-right: 30px;
        border-radius: 10px;
        margin-left: 25px;
    }
    .container-fluid--design-inspiration{
        font-weight: 500;
        font-size: 21px;
        line-height: 120%;
        display: flex;
        align-items: center;
        letter-spacing: 0.11em;
        text-transform: uppercase;
        color: grey;
        margin-top: 140px;
        margin-left: 220px;
        margin-bottom: 50px;
    }
    .container-fluid--convallis{
        font-weight: bold;
        font-size: 70px;
        line-height: 110%;
        display: flex;
        align-items: center;
        letter-spacing: -0.045em;
        color: black;
        margin-left: 220px;
    }
    .container-fluid__button--getin{
        margin-left: 220px;
        padding: 11px 40px;
        font-weight: bold;
        margin-top: 32px;
        font-size: 18px;
    }
    .container-fluid--text-1{
        font-weight: bold;
        font-size: 28px;
        line-height: 110%;
        margin-left: 220px;
        letter-spacing: -0.03em;
        margin-top: 167px;
        margin-right: 75px;
        margin-bottom: 25px;
    }
    .container-fluid__images--potition{
        margin-left: 220px;
        width: 50px;
    }
    .container-fluid--text-CEO{
        font-weight: bold;
        font-size: 20px;
        line-height: 120%;
        margin-left: 32px;
        margin-top: -13px;
    }
    .container-fluid--text-CEO-1{
        font-weight: normal;
        font-size: 15px;
        line-height: 100%;
        margin-left: 32px;
    }
    .container-fluid__images--potition-2{
        height: 715px;
        margin-top: 140px;
        width: 518px;
        margin-left: 189px;
    }
    .section-main--background-2{
        background: linear-gradient(359deg, #FFFFFF -45.04%, rgba(255, 255, 255, 0) 102.87%), #D8F6FF;
        margin-top: 790px;
    }
    .section-main--row-position{
        float: left;
        margin-top: -420px;
    }
    .section-main__title--text{
        font-weight: bold;
        font-size: 50px;
        letter-spacing: -0.045em;
        margin-right: 140px;
        margin-bottom: 64px;
        margin-left: 100px;
        margin-top: -75px;
    }
    .section-main__body--text{
        font-size: 22px;
        line-height: 110%;
        letter-spacing: -0.01em;
        margin-right: 140px;
        margin-left: 100;
        color: #23242A;
    }
    .section-main--peter-olexa{
        height: 400px;
        width: 720px;
        margin-top: 113px;
        margin-bottom:120px
    }
    .section-main__images--people{
        margin-top: 185px;
        height: 400px;
        width: 321px;
        margin-left: 80px;
        margin-top: 115px;
    } 
    .container__title--design-text{
        font-weight: bold;
        font-size: 43px;
        line-height: 110%;
        margin-top: 200px;
        margin-bottom: 50px;
    }
    .container__body--design-text{
        font-weight: normal;
        font-size: 23px;
        line-height: 110%;
        letter-spacing: -0.01em;
        margin-right: 135px;
        margin-top: 15px;
        margin-bottom: 50px;
    }
    .container__link--experience{
        font-weight: bold;
        margin-bottom: 150px;
    }
    .container__images--design{
        height: 579px;
        width: 515px;
        margin-top: 20px;
        margin-left: 80px;
    }
    .container__images--watches{
        height: 579px;
        width: 515px;
        margin-top: 150px;
        margin-bottom: 150px;
    }
    .container__title--design-text-2{
        font-weight: bold;
        font-size: 43px;
        line-height: 95%;
        margin-top: 350px;
        margin-bottom: 50px;
        margin-left: 80px;
    }
    .container__body--design-text-2{
        font-weight: normal;
        font-size: 23px;
        line-height: 110%;
        letter-spacing: -0.01em;
        margin-right: 50px;
        margin-left: 80px;
        margin-bottom: 50px;
    }
    .container__link--experience-2{
        font-weight: bold;
        margin-bottom: 150px;
        margin-left: 80px;
    }
    .section__Design--concept{
        font-weight: 500;
        font-size: 23px;
        line-height: 100%;
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-top: 200px;
        margin-bottom: 45px;
    }
    .section-benefit__images--line{
        margin-left: 286px;
        width: 366px;
        height: 460px;
        margin-top: -2px;
    }
    .section--concept-text{
        font-weight: bold;
        font-size: 64px;
        line-height: 85%;
        text-align: center;
        margin-left: 320px;
        margin-right: 320px;
        margin-top: 20px;
        margin-bottom: 150px;
    }
    .header-design__card--potition{
        margin-left: 150px;
        margin-right: 15px;
        border: none;
        margin-bottom: 200px;
        box-shadow: 10px 10px 50px 3px rgb(39 92 141 / 10%);
    }
    .header-design__card--potition-2{
        margin-right: 15px;
        margin-bottom: 200px;
        border: none;
        box-shadow: 10px 10px 50px 3px rgb(39 92 141 / 10%);
    }
    .section-benefit__background--radius{
        background: linear-gradient(to bottom, #FFF4D4 0%, white 100%);
        border-radius: 15px 15px 0px 130px;
        height: 100%;
    }
    .section-design__card--title-name{
        font-weight: 500;
        font-size: 44px;
        line-height: 110%;
        margin-bottom: 25px;
    }
    .header-design__card--body{
        font-weight: normal;
        font-size: 24px;
        line-height: 130%;
    }
    .header-design__card--text-edit{
        font-weight: normal;
        font-size: 20px;
        line-height: 130%;
        margin-right: -10;
    }
    .container-fluid--box-shadow{
        box-shadow: 10px 10px 50px 3px rgba(39, 92, 141, 0.1);
    }
    .header-design__link--card{
        color: rgba(17, 19, 30, 0.2);
        text-decoration: none;
        font-size: 15px;
    }
    .header-design__link--card-2{
        font-size: 15px;
    }
    .section-benefit__Design--concept-2 {
        font-weight: 500;
        font-size: 24px;
        line-height: 100%;
        text-align: left;
        letter-spacing: 1px;
        text-transform: uppercase;
        padding-top: 125px;
        padding-left: 80px;
    }
    .section-benefit__text--concept-2{
        font-weight: bold;
        font-size: 50px;
        line-height: 85%;
        text-align: left;
        margin-top: -200px;
        margin-bottom: 150px;
        margin-right: 700px;
        padding-left: 80px;
        margin-bottom: 50px;
    }
    .section-benefit__body-text--design-3{
        font-weight: normal;
        font-size: 25px;
        line-height: 110%;
        letter-spacing: -0.01em;
        margin-right: 555px;
        margin-left: 80px;
        margin-bottom: 50px;
    }
    .container__images--icon{
        margin-left: 70px;
        margin-top: 15px;
        height: 40px;
    }
    .container__title--icon{
        font-weight: bold;
        font-size: 26px;
        line-height: 120%;
        margin-left: -80px;
    }
    .container__body--icon{
        font-weight: normal;
        font-size: 18px;
        line-height: 110%;
        margin-left: -80px;
        margin-right: 6px;
    }
    .section-feature--concept-text-3{
        font-weight: bold;
        font-size: 50px;
        line-height: 110%;
        text-align: left;
        margin-top: 100px;
        margin-right: 100px;
        padding-left: 110px;
        margin-bottom: 125px;
    }
    .container-fluid__card--concept-1{
        margin-left: 250px;
        margin-right: 25px;
        border: none;
        margin-bottom: 200px;
        box-shadow: 10px 10px 50px 3px rgb(39 92 141 / 10%);
        padding-left: 0px;
        padding-right: 0px;
    }
    .container-fluid__card--concept-2{
        margin-left: 0px;
        margin-right: 25px;
        border: none;
        margin-bottom: 200px;
        box-shadow: 10px 10px 50px 3px rgb(39 92 141 / 10%);
        padding-left: 0px;
        padding-right: 0px;
    }
    .section-feature__link--potition{
        margin-top: 100px;
        margin-left: 248px;
    }
    .section-feature__link--card-3{
        font-size: 15px;
        color: rgba(17, 19, 30, 0.2);
        text-decoration: none;
        font-size: 15px;
    }
    .section-feature__card--border{
            border: none;
    }
    .section-leadership--Design-concept-3{
        font-weight: normal;
        font-size: 26px;
        line-height: 110%;
        text-align: center;
        letter-spacing: -1px;
        text-transform: uppercase;
        margin-top: -90px;
        margin-right: 185px;
        margin-left: 185px;
        margin-bottom: 100px;
    }
    .section-leadership__card--people{
        font-weight: bold;
        font-size: 25px;
        text-align: center;
        line-height: 120%;
        margin-top: 25px;
    }
    .section-leadership__card--people-2{
        font-weight: normal;
        font-size: 25px;
        line-height: 90%;
        text-align: center
    }
    .section-review--text-2{
        font-weight: bold;
        font-size: 31px;
        line-height: 110%;
        margin-left: 355px;
        letter-spacing: -0.03em;
        margin-top: 225px;
        margin-right: 424px;
        margin-bottom: 20px;
    }
    .section-review__images--icon-2{
        margin-left: 350px;
        margin-top: 15px;
        height: 56px;
        margin-bottom: 200px;
    }
    .section-review__title--icon-2{
        font-weight: bold;
        font-size: 20px;
        line-height: 120%;
        margin-left: -70px;
    }
    .section-review__body--icon-2{
        font-weight: normal;
        font-size: 15px;
        line-height: 100%;
        margin-left: -70px;
    }
    .section-review__images--line-2{
        margin-left: 225px;
        height: 384px;
        width: 251px;
    }
    .section-review__images--line-4{
        margin-top: -600px;
    }
    .section-review--text-i-feel{
        font-weight: bold;
        font-size: 31px;
        line-height: 110%;
        margin-left: 360px;
        letter-spacing: -0.03em;
        margin-top: -200px;
        margin-bottom: 20px;
        margin-right: 435px;
    }
    .section-join--background-3{
        background: #FFF4D4;
        margin-bottom: 225px;
    }
    .section-join--text-3{
        font-weight: bold;
        font-size: 31px;
        line-height: 110%;
        margin-left: 150px;
        letter-spacing: -0.03em;
        margin-top: 100px;
        margin-right: 75px;
    }
    .section-join--text-lorem{
        font-weight: normal;
        font-size: 22px;
        line-height: 130%;
        margin-left: 150px;
        margin-bottom: 90px;
        margin-right: 80px;
    }
    .section-join__images--line-3{
        width: 273px;
        margin-left: 155px;
        height: 236px;
    }
    .section-join__button--getin-2{
        margin-left: 140px;
        padding: 12px 40px;
        font-weight: bold;
        margin-top: -130px;
        font-size: 20px;
    }
    .footer--background{
        background: black;
    }
    .footer--text{
        font-weight: normal;
        font-size: 22px;
        line-height: 130%;
        margin-left: 140px;
        margin-right: 55px;
        margin-top: 30px;
        margin-bottom: 155px;
        opacity: 0.5;
        color: white;
    }
    .footer--logo{
        margin-left: 140px;
        color: white;
        margin-top: 75px;
        opacity: 1
    }
    .footer--list{
        margin-bottom: 33px;
        margin-top: 81px;
        font-weight: bold;
        color: white;
        opacity: 0.5;
    }
    .footer__body--text{
        text-decoration: none;
        color: white;
    }
    .footer__body--text-2{
        color:#0E6FFF ;
        text-decoration: none;
    }
    .footer--border{
        border-top: solid 1px;
    }
    .footer--end{
        margin-left: 80px;
        margin-top: 15px;
        opacity: 0.5;
        color: white;
    }
    .footer--end-2{
        margin-top: 15px;
        margin-left: 300px;
        color: white;
    }
}
